<ion-view title="Current Buys">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
   <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()">
    </ion-refresher>
    <ion-list>
    <div ng-show="trades.length === 0 && !loading">
      <div class="row push-down-30">
        <div class="pull-center" style="text-align: center">
          <i class="quiet icon-huge ion-sad"></i>
          <h4 class="quiet">No interesting trades yet.</h4>
        </div>
      </div>

      <div class="row">
        <div class="pull-center">
          <button class="button button-outline button-royal" ng-click="refresh()">
            Refresh
          </button>
          <button ng-show="!loggedIn()" class="button button-royal" ng-click="login()">
            Login
          </button>
        </div>
      </div>
    </div>
    <div class="card" ng-repeat="trade in trades" ng-click="showTrade({{trade.id}})" href="#/app/trades/{{trade.id}}">
        <div class="item icon-left">
          <i class="icon-big ion-arrow-up-a balanced"></i>
          <strong>
            {{trade.ticker}}
          </strong>
          <span class="item-note" ng-show="trade.market_cap_str != 0">
            {{trade.market_cap_str}}
          </span>
        </div>
        <div class="item item-image">
          <img class="full-image" ng-src="http://chart.finance.yahoo.com/z?s={{trade.ticker}}&t=6m&q=l&l=on&z=s&p=v">
        </div>
        <div class="item item-body">
          {{trade.insider_name}}<span ng-if="trade.insider_title">,</span> 
          {{trade.insider_title}} bought {{(trade.sum_shares).abbr(1)}} shares to hold 
          {{(trade.sum_shares_after).abbr(1)}}.  This is a {{trade.holdings_change}}% 
          change in holdings.
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
