<ion-view title="{{company.ticker}}">
  <ion-content class="has-header">
    <div class="card">
      <div class="item">
        <h2>{{company.name}}</h2>
        <p>{{company.market_cap}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://chart.finance.yahoo.com/z?s={{company.ticker}}&t=6m&q=l&l=on&z=s&p=v">
      </div> <!-- item body -->
    </div> <!-- card -->
    <ul class="list" ng-hide="company.form4s.length==0">
      <li ng-repeat="form4 in company.form4s" class="item-form4">
        <div class="item item-icon-left">
          <div class="icon icon-shares">
            <i class="ion-arrow-up-a buy" ng-show="form4.is_buy"></i>
            <i class="ion-arrow-down-a sell" ng-hide="form4.is_buy"></i>
            <p>{{form4.sum_shares}}</p>
          </div>
          <span class="item-note">
            {{form4.date | shortDate}}
          </span>
          <h3>{{form4.insider_name}}</h3>
          <p>{{form4.insider_title}}</p>
        </div>
      </li>
   </ul>
  </ion-content>
</ion-view>
