<ion-view title="{{company.ticker}}">
  <ion-content class="has-header">
    <div class="card">
      <div class="item">
        <h2>{{company.name}}</h2>
        <p>{{company.market_cap_str}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="http://chart.finance.yahoo.com/z?s={{company.ticker}}&t=6m&q=l&l=on&z=s&p=v">
      </div> <!-- item body -->
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="showInsiders=!showInsiders">
          <i ng-if="!showInsiders" class="icon ion-ios7-people-outline"></i>
          <i ng-if="showInsiders" class="icon ion-ios7-people"></i>
           Insiders
        </a>
        <a class="tab-item" ng-click="showTrades=!showTrades">
          <i ng-if="!showTrades" class="icon ion-ios7-paper-outline"></i>
          <i ng-if="showTrades" class="icon ion-ios7-paper"></i>
           Trades
        </a>
      </div>
    </div> <!-- card -->
    <ul class="list" ng-show="showInsiders">
      <li class="item item-icon-left" ng-repeat="insider in company.insiders" ng-click="goToInsider(insider)">
        <i class="icon ion-person"></i>
        {{insider.name}}
      </li>
    </ul>
    <ul class="list" ng-show="company.form4s.length > 0 && showTrades">
      <li ng-repeat="form4 in company.form4s" ng-click="goToForm4(form4)" class="item-form4">
        <div class="item item-icon-left">
          <div class="icon icon-shares">
            <div class="ion-arrow-up-a buy" ng-show="form4.is_buy"></div>
            <div class="ion-arrow-down-a sell" ng-hide="form4.is_buy"></div>
          </div>
          <span class="item-note align-right">
            {{form4.date}}<br>
            {{form4.sum_shares}}
          </span>
          <h3>{{form4.insider_name}}</h3>
          <p>{{form4.insider_title}}</p>
        </div>
      </li>
   </ul>
  </ion-content>
</ion-view>
