<ion-view title="{{form4.ticker}}">
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-body">
        <img class="full-image" src="http://chart.finance.yahoo.com/z?s={{form4.ticker}}&t=6m&q=l&l=on&z=s&p=v">
        <ul class="list">

          <li class="item">
            {{form4.insider_name}}
          </li>
          <li class="item" ng-show="form4.insider_title">
            {{form4.insider_title}}
          </li>
          <li class="item">
            {{form4.ticker}}
          </li>
          <li class="item">
            {{form4.sum_shares}}
            <span class="item-note">Shares</span>
          </li>
          <li class="item">
            {{form4.sum_shares_after}}
            <span class="item-note">Shares After</span>
          </li>
          <li class="item">
            {{form4.holdings_change}}
            <span class="item-note">Holdings Change</span>
          </li>
        </ul>

      </div> <!-- item body -->
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#/app/companies/{{form4.company_id}}">
          <i class="icon ion-briefcase"></i>
          {{form4.ticker}}
        </a>
        <a class="tab-item" href="#/app/insiders/{{form4.insider_id}}">
          <i class="icon ion-person"></i>
          {{form4.insider_name}}
        </a>
        <a class="tab-item" ng-click="navigateTo(form4.filing_url)">
          <i class="icon ion-document-text"></i>
          Filing
        </a>
      </div>
    </div> <!-- card -->

    <ul class="list" ng-show="form4.nonDerivativeTransactions.length > 0">
      <li class="item item-divider">
        Non Derivative Transactions
      </li>
      <li class="item" ng-repeat="transaction in form4.nonDerivativeTransactions">
        {{transaction.acquired_or_disposed_code}}
        {{transaction.direct_or_indirect_code}}
        {{transaction.shares}}
        {{transaction.shares_after}}
      </li>
      <li class="item item-divider">
        Derivative Transactions
      </li>
      <li class="item" ng-repeat="transaction in form4.derivativeTransactions">
        {{transaction.acquired_or_disposed_code}}
        {{transaction.conversion_or_exercise_price}}
        {{transaction.security_title}}
        {{transaction.direct_or_indirect_code}}
        {{transaction.shares}}
        {{transaction.shares_after}}
      </li>
    </ul>
  </ion-content>
</ion-view>
