<ion-view title="Insider">
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-avatar">
        <img src="img/insider_placeholder.png">
        <h2>{{insider.name}}</h2>
      </div>

      <div class="item item-body">
        Bio
      </div> <!-- item body -->
    </div> <!-- card -->
    <ul class="list" ng-hide="company.form4s.length==0">
      <li ng-click="goToForm4(form4)" ng-repeat="form4 in insider.form4s" class="item-form4">
        <div class="item item-icon-left">
          <div class="icon icon-shares">
            <i class="ion-arrow-up-a buy" ng-show="form4.is_buy"></i>
            <i class="ion-arrow-down-a sell" ng-hide="form4.is_buy"></i>
          </div>
          <span class="item-note align-right">
            {{form4.date}} <br>
            {{form4.sum_shares}}
          </span>
          <h3>{{form4.ticker}}</h3>
          <p>{{form4.market_cap}}</p>
        </div>
      </li>
   </ul>
  </ion-content>
</ion-view>
