<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-royal nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-royal">
      <h1 class="title">Insider AI</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item ng-if="loggedIn()" nav-clear menu-close ng-click="logout()">
          <i class="icon-left ion-log-in"></i> Logout
        </ion-item>
        <ion-item ng-if="!loggedIn()" nav-clear menu-close ng-click="login()">
          <i class="icon-left ion-log-in"></i> Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/today">
          <i class="icon-left ion-arrow-graph-up-right"></i> Todays Buys
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/buys">
          <i class="icon-left ion-arrow-graph-up-right"></i> Current Buys
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
