<ion-view view-title="Register">
  <ion-header-bar align-title="center" class="bar-royal">
    <h1 class="title">Register</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div ng-if="errorMessage.length" class="errors">
      {{errorMessage}}
    </div>
    <form ng-submit="doRegister()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Username</span>
          <input
            type="text"
            class="big-input"
            ng-model="user.username"
            placeholder="Username">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input
            type="text"
            class="big-input"
            ng-model="user.email"
            placeholder="Email">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input
            type="password"
            class="big-input"
            ng-model="user.password"
            placeholder="Password">
        </label>
      </div>

      <button class="button button-block button-royal">
        Register
      </button>
    </form>
    <hr>
    <a href="#/login" class="button button-block">
      Already have an account?
    </a>
  </ion-content>
</ion-view>
