<ion-view hide-nav-bar="true">
  <ion-header-bar>
    <div class="bar bar-header item-input-inset">
      <button menu-toggle="left" class="button button-clear button-icon icon ion-navicon"></button>
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" ng-change="search()" placeholder="Search" ng-model="keyword">
      </label>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="list">
      <li class="item icon-left" ng-repeat="result in results" ng-click="openResult(result)">
        <i class="ion-person" ng-show="result[1]==='Insider'"></i>
        <i class="ion-arrow-graph-up-right" ng-show="result[1]==='Company'"></i>
        {{result[2]}}
      </li>
    </div>
  </ion-content>
</ion-view>
