<ion-view title="Settings">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ul class="list">
      <li class="item item-divider">
        Idea Notifications
      </li>
      <li class="item item-icon-left item-toggle">
        <i class="icon ion-email"></i>
        Email
        <label class="toggle toggle-royal">
          <input type="checkbox"
            ng-model="user.gets_email"
            ng-checked="user.gets_email"
            ng-change="toggleSetting('gets_email')">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-icon-left item-toggle">
        <i class="icon ion-radio-waves"></i>
        Push
        <label class="toggle toggle-royal">
          <input type="checkbox"
            ng-checked="user.gets_ios_push"
            ng-model="user.gets_ios_push"
            ng-change="toggleSetting('gets_ios_push')">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
    </ul>
  </ion-content>
</ion-view>
