<ion-view title="Todays Buys">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
    <div ng-show="!trades.length && !loading">
      <div class="row push-down-30">
        <div class="pull-center" style="text-align: center">
          <i class="quiet icon-huge ion-sad"></i>
          <h4 class="quiet">No interesting trades filed yet today.</h4>
        </div>
      </div>

      <div class="row">
        <div class="pull-center">
          <button class="button button-outline button-royal" ng-click="refresh()">
            Refresh
          </button>
        </div>
      </div>
    </div>
    <div class="card" ng-repeat="trade in trades" ng-click="showTrade({{trade.id}})" href="#/app/trades/{{trade.id}}">
        <div class="item icon-left">
          <i class="icon-big ion-arrow-up-a balanced"></i>
          <strong>
            {{trade.ticker}}
          </strong>
          <span class="item-note">
            {{trade.market_cap_str}}
          </span>
        </div>
        <div class="item item-image">
          <img class="full-image" src="http://chart.finance.yahoo.com/z?s={{trade.ticker}}&t=6m&q=l&l=on&z=s&p=v">
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <span class="item-note">
            {{trade.sum_shares}} shares.
            {{trade.holdings_change}}% change.
          </span>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
