<ion-view title="{{trade.ticker}}">
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-avatar">
        <img src="img/insider_placeholder.png">
        <h2>{{trade.insider_name}}</h2>
        <p>{{trade.insider_title}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://chart.finance.yahoo.com/z?s={{trade.ticker}}&t=6m&q=l&l=on&z=s&p=v">
        <ul class="list">
          <li class="item">
            {{trade.sum_shares}}
            <span class="item-note">Shares</span>
          </li>
          <li class="item">
            {{trade.sum_shares_after}}
            <span class="item-note">Shares After</span>
          </li>
          <li class="item">
            {{trade.holdings_change}}
            <span class="item-note">Holdings Change</span>
          </li>
          <li class="item">
            {{trade.performance}}
            <span class="item-note">Performance Since Adding</span>
          </li>
        </ul>
      </div> <!-- item body -->
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="navigateTo(trade.filing_url)">
          <i class="icon ion-document-text"></i>
          SEC Filing
        </a>
        <a class="tab-item" ng-click="showCommentBox=!showCommentBox">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
      </div>
    </div> <!-- card -->
    <div class="card" ng-show="showCommentBox">
      <div class="list list-inset">
        <form ng-submit="addComment()">
          <label class="item item-input">
            <textarea ng-model="commentData.body" placeholder="Comment"></textarea>
          </label>
          <input type="submit" ng-click="showCommentBox=!showCommentBox" class="button button-block button-royal" value="Send">
        </form>
      </div>
    </div>
    <ul class="list card">
      <li ng-repeat="comment in trade.comments" ng-click="removeComment(comment)">
        <div class="item item-body">
          <img ng-srcset="{{comment.author_email | gravatar}}?s=20">
          {{comment.body}}
        </div>
      </li>
   </ul>
  </ion-content>
</ion-view>
