<ion-view title="{{trade.ticker}}">
  <ion-content class="has-header">
    <div class="list card">
      <div class="item">
        <h2>{{trade.insider_name}}</h2>
        <p>{{trade.insider_title}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://chart.finance.yahoo.com/z?s={{trade.ticker}}&t=6m&q=l&l=on&z=s&p=v">
        <ul class="list">
          <li class="item">
            {{trade.sum_shares}}
            <span class="item-note">Shares</span>
          </li>
          <li class="item">
            {{trade.sum_shares_after}}
            <span class="item-note">Shares After</span>
          </li>
          <li class="item">
           {{trade.holdings_change}}%
           <span class="item-note">Holdings Change</span>
          </li>
          <li class="item">
           {{trade.performance}}%
           <span class="item-note">Performance Since Adding</span>
          </li>
        </ul>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="navigateTo(trade.filing_url)">
          <i class="icon ion-document-text"></i>
          SEC Filing
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
