<ion-view title="{{trade.ticker}}">
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-avatar">
        <img ng-src="img/insider_placeholder.png">
        <h2>{{trade.insider_name}}</h2>
        <p>{{trade.insider_title}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="http://chart.finance.yahoo.com/z?s={{trade.ticker}}&t=6m&q=l&l=on&z=s&p=v">
        <ul class="list">
          <li class="item">
            {{trade.sum_shares}}
            <span class="item-note">Shares Exchanged</span>
          </li>
          <li class="item">
            {{trade.sum_shares_after}}
            <span class="item-note">Shares Held After</span>
          </li>
        </ul>
      </div> <!-- item body -->
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#/app/companies/{{trade.company_id}}">
          <i class="icon ion-arrow-graph-up-right"></i>
          {{trade.ticker}}
        </a>
        <a class="tab-item" href="#/app/insiders/{{trade.insider_id}}">
          <i class="icon ion-person"></i>
        </a>
        <a class="tab-item" ng-click="navigateTo(trade.filing_url)">
          <i class="icon ion-ios7-paper"></i>
          Filing
        </a>
      </div>
    </div> <!-- card -->
  </ion-content>
</ion-view>
