<ion-view title="Upgrade">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="item item-body">
      <h1>Actionable Leads from Legal Insider Trading</h1>
      <p>Recent Leads only available with Insider AI Premium</p>
      <p>Only $9.99/mo</p>

      <button ng-click="upgrade()" class="button button-block button-royal">
        Start Free Trial
      </button>
    </div>
  </ion-content>
</ion-view>
